@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

.container {
    display: flex;
    justify-content: center;
}

.AppTitle {
    font-size: 4rem;
    font-family: 'Tilt Prism', cursive;
    color: rgb(241, 196, 15);
    text-shadow: 10px 8px 8px rgba(215, 228, 171, 0.2);
}